apiVersion: v1
kind: ConfigMap
metadata:
  name: local-registry-hosting
  namespace: kube-public
data:
  localRegistryHosting.v1: |
    host: "localhost:{{ .Env.KIND_REGISTRY_PORT }}"
    hostFromClusterNetwork: "kind-registry:5000"
    help: "https://kind.sigs.k8s.io/docs/user/local-registry/"